<% layout('/layouts/boilerplate') %>

<!-- Map Box -->
<div id="cluster-map" class="mb-3"></div>

<!-- Javascripts  -->
<script>
  const mapToken = `<%-process.env.MAPBOX_TOKEN%>`;
  const photos = {features: <%- JSON.stringify(photos) %>};
</script>
<script src="/javascripts/mapMain.js"></script>
